.container .title-section {
  position: relative;
  text-align: center;
  font-size: var(--mb-2-5);
  font-weight: 500;
}

.container .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.container .content .column-left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;

}

.container .content .right {
  width: 55%;
}

@media (max-width: 979px) {
  .container .content .column-left img {
    height: 200px;
    width: 200px;
  }

  .descrition {
    font-size: var(--mb-0-5);
  }

  .descrition-text {
    text-align: center;
  }

  .column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--mb-1-5);
  }

  .description {
    width: 350px;
  }
}

@media (max-width: 479px) {
  .container .content .column-left img {
    height: 200px;
    width: 200px;
  }

  .description {
    font-size: var(--mb-2);

  }

  .descrition-text {
    text-align: center;
  }

}